

.MultipleSelect{
        width: 342px;
        height: 58px;
        background: rgba(255, 255, 255, 0.25);
        border-radius: 14px;
        flex: none;
        order: 0;
        flex-grow: 0;

        cursor: pointer;
        outline: none;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: black;
}    
